@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color: #083AA9;
    --secondary-color: #000000;
    --grey-color: #3D3D3D;
    --light-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

a:focus,
input:focus,
textarea:focus {
    outline: none;
}

.primary-btn {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-btn {
    background-color: transparent;
    color: var(--main-color);
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon {
    margin-left: -8px;
    opacity: 0;
    transition: all ease-in-out .2s;
}

.primary-btn:hover .btn-icon {
    margin-left: 8px;
    opacity: 1;
    color: white;
}

.secondary-btn:hover {
    color: var(--main-color);
}

.secondary-btn:hover .btn-icon {
    margin-left: 8px;
    opacity: 1;
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hammersmith One', sans-serif;
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #3D3D3D;
}

span {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    list-style-type: none;
}

section {
    display: flex;
    justify-content: center;
}

.navbar-section {
    background-color: var(--light-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.section-row {
    width: 80%;
    max-width: 1440px;
}

.section-container {
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--grey-color);
}

.nav-brand .logo img {
    width: 50px;
}

.brand-name {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

.nav-items {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.item a {
    color: var(--grey-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 0 10px;
    transition: all ease-in-out .2s;
}

.item a:hover {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 5px 10px;
    border-radius: 50px;
}

.active-link a {
    color: #083AA9;
    font-weight: 600;
}

.nav-action-btns {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.nav-action-btns .login {
    display: flex;
    align-items: center;
    color: var(--grey-color);
    padding: 0 10px;
    transition: all ease-in-out .2s;
}

.nav-action-btns .login:hover .btn-icon {
    margin-left: 8px;
    opacity: 1;
    color: var(--grey-color);
}

.slider-section .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-section .first-slide {
    background-image: url(images/araw.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-section .second-slide {
    background-image: url(images/roxas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-section .third-slide {
    background-image: url(images/camella.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.slider-section .carousel-item .content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-section .carousel-content {
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.slider-section .carousel-content .slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slider-section .carousel-content .text {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
}

.slider-section .carousel-content .text p {
    font-size: 14px;
}

.carousel-control-next-icon {
    background-image: url(images/icons/chevron-right-solid.svg);
}

.carousel-control-prev-icon {
    background-image: url(images/icons/chevron-left-solid.svg);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--secondary-color);
}

.about-section {
    background-color: #f9f9f9;
}

.about-section .about {
    display: flex;
    align-items: center;
}

.about-section .first-column {
    flex: 0.6;
    padding: 20px 0;
}

.line {
    display: inherit;
    width: 70px;
    border-top: 3px solid var(--main-color);
    margin-bottom: 20px;
}

.about-section .first-column p {
    margin-bottom: 20px;
}

.about-section .first-column .read-more {
    display: inline-block;
}

.about-section .second-column {
    flex: 0.4;
    padding: 20px;
}

.about-section .second-column img {
    width: 100%;
}

.organizers-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.organizers-section .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.organizers-section .section-container .section-desc {
    flex: 0.5;
}

.organizers-section .section-container .organizer-cards {
    flex: 0.5;
    display: flex;
    gap: 20px;
}

.organizer-card {
    min-width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all ease-in-out .2s;
}

.organizer-card:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.organizer-card h3 {
    font-size: 18px;
    margin-top: 20px;
    color: var(--grey-color);
}

.organizer-card .rating {
    color: gold;
    font-size: 12px;
    margin-bottom: 10px;
}

.organizer-card p {
    font-size: 12px;
    padding: 0 20px 20px 20px;
}

.organizer-card img {
    width: 100%;
    background-color: #000000;
}

.organizers-section .view-organizers {
    display: inline-block;
    padding-top: 20px;

}

.review-slider-section {
    background-color: #f9f9f9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.review-slider-section .section-desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review-slider-section .section-desc .line {
    margin-top: 10px;
}

.review-slider-section .content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.review-slider-section .carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    gap: 5%;
    text-align: center;
}

.review-slider-section .review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.review-slider-section .review-card .quote-icon {
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--light-color);
}

.review-slider-section .review-card .card-image {
    font-size: 70px;
}

.review-slider-section .card-review {
    font-size: 14px;
}

.contact-section {
    padding: 50px 0;
}

.contact-section .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.contact-section .section-container .first-column {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section .first-column .logo {
    margin-bottom: 20px;
}

.contact-section .first-column .logo img {
    width: 70px;
}

.contact-section .first-column .logo span {
    font-size: 30px;
    font-family: 'Hammersmith One', sans-serif;
}

.contact-section .first-column i {
    color: var(--main-color);
    margin-right: 5px;
    font-size: 18px;
}

.contact-section .first-column a {
    color: var(--grey-color);
}

.contact-section .first-column span {
    font-size: 14px;
    color: var(--grey-color);
}

.contact-section .first-column .map {
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 0;
}

.contact-section .section-container .second-column {
    flex: 0.4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 10px;
}

.contact-section .contact-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-section .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-form form input,
textarea {
    width: 100%;
    padding: 10px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}

.contact-form .submit-btn {
    width: 30%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--light-color);
}

.contact-form .submit-btn:after {
    content: '\f054';
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:5px;
    color:red;
}

.contact-form .submit-btn:hover {
    cursor: pointer;
}

.footer-section {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 20px 0;
}

.footer-section .section-container {
    display: flex;
    justify-content: space-between;
}

.footer-section span {
    font-size: 14px;
    opacity: 0.9;
}

.footer-section .social {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.footer-section .social a {
    color: var(--light-color);
}